<form action="new" method="post" class="form">
  <div class="title">
    <label for="title">Enter the title: </label>
    <input type="text" name="title" id="title" required>
  </div>
  <div class="content">
    <label for="content" >Enter the link: </label>
    <input type="text" name="content" id="content" required>
  </div>
  <div class="Tag">
    <label for="tag" >Enter the tag: </label>
    <input type="text" name="tag" id="tag" required>
  </div>

  <div class="form-example">
    <input type="submit" value="Submit">
  </div>
</form>